body{
    margin:0;
    padding:0;
    background-image:url('fundo.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color:#000;

    color:white;
    font-family:Arial, sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;
}

.tela{
    background:rgba(0,0,0,0.7);
    padding:40px;
    border-radius:15px;
    border:2px solid #8b4513;
}

input{
    padding:10px;
    margin:10px;
    border:none;
    border-radius:5px;
}

button{
    padding:10px 20px;
    background:#8b4513;
    color:white;
    border:none;
    cursor:pointer;
    font-weight:bold;
}

.container-jogo{
    display:flex;
    align-items:center;
    gap:120px;
}

.painel-info{
    width:250px;
    text-align:left;
}

#grid-batalha{
    margin-left:80px;
}

#tabuleiro{
    border-collapse:collapse;
}

#tabuleiro td{
    width:45px;
    height:45px;
    border:1px solid white;
    background:rgba(255,255,255,0.2);
}